.group {
    display: none;
}

.group .btn {
    border-radius: 0;
}

.group a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    padding: 10px;
}

.group a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.urban, .greyman, .outdoors, .cyberpunk {
    height: 100vh;
    background-color:#000000;
    color: #FFFFFF;
    background-size: 100% 100%;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.urban:hover, .greyman:hover, .cyberpunk:hover, .outdoors:hover{
    background-blend-mode: normal;
}

.urban:hover .group, .greyman:hover .group, .outdoors:hover .group, .cyberpunk:hover .group {
    display: inline-block;
}

.urban:hover h1, .greyman:hover h1, .outdoors:hover h1, .cyberpunk:hover h1 {
    background-color: #000000;
    border: 1px solid #FFFFFF;
}

.urban, .greyman, .cyberpunk, .outdoors {
    background-blend-mode: darken;
}

.urban {
    background-image: url("./images/urbanBG.webp");
}

.greyman {
    background-image: url("./images/greymanBG.webp");
}

.cyberpunk {
    background-image: url("./images/cyberpunkBG.webp");
}

.outdoors {
    background-image: url("./images/outdoorsBG.webp");
}