.get-outfit .btn {
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 0px;
}

.get-outfit .btn:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px #000000 solid;
  }