.outfit-modal {
    font-family: "Lucida Console";
    width: 100%;
    height: 100%;
}

.outfit-modal .btn {
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    padding: 10px;
}

.outfit-modal .h5{
    align-self: center;
}